<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/eSLSampleWebApp.css"/>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<title>Notifications Dashboard</title>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{index}">JAVA e-SL Application</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{InsuranceForm}">Insurance Form</a></li>
					<li><a th:href="@{ESLNotifications}">Notifications Dashboard</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		<h2>Dashboard</h2>
		<table class="table table-hover table-bordered" style="border-width: 3px; border-color: ForestGreen; border-style: solid">
			<tr>
				<th>Package ID</th>
				<th>Package Status</th>
				<th>Available Actions</th>
			</tr>
	
			<tr th:each="entry: ${myMap}" th:switch="${entry.value.contentEquals('PACKAGE_COMPLETE') or entry.value.contentEquals('SIGNER_COMPLETE')}">
				<td th:text="${entry.key}">key</td>
				<!--  key alone will get displayed if I comment the 'entry.values' iteration forEach loop-->
				<td th:text="${entry.value}">value</td>
				<td th:case="true">
						<a th:href="@{downloadDocuments(packageId=${entry.key})}"	class="btn btn-success">Download Signed PDF</a>
						<a th:href="@{downloadEvidenceSummary(packageId=${entry.key})}" class="btn btn-success">Download Evidence Summary</a>
						<a th:href="@{getFieldValues(packageId=${entry.key})}"	class="btn btn-success">Get Field Values</a>
				</td> 
				<td th:case="false">
				</td>
			</tr>
		</table>
		<hr />
		<footer>
			<p>&copy; 2015 -JAVA e-SL Application</p>
		</footer>
	</div>
</body>
</html>
