<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.1/css/bootstrapValidator.min.css"/>
<link rel="stylesheet" href="css/eSLSampleWebApp.css"/>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.1/js/bootstrapValidator.min.js"></script> <!-- http://bootstrapvalidator.com/ -->

<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
    $('#insuranceForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            firstName: {
                message: 'The firstname is not valid',
                validators: {
                    notEmpty: {
                        message: 'The firstname is required and cannot be empty'
                    },
                    stringLength: {
                        min: 2,
                        max: 30,
                        message: 'The firstname must be more than 2 and less than 30 characters long'
                    }
                }
            },
            lastName: {
                message: 'The lastname is not valid',
                validators: {
                    notEmpty: {
                        message: 'The lastname is required and cannot be empty'
                    },
                    stringLength: {
                        min: 2,
                        max: 30,
                        message: 'The lastname must be more than 2 and less than 30 characters long'
                    }
                }
            },
            emailAddress: {
                validators: {
                    notEmpty: {
                        message: 'The email is required and cannot be empty'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    }
                }
            }
        }
    });
});
//]]>
</script>

<title>e-SignLive Sample Insurance Company</title>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{index}">JAVA e-SL Application</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{InsuranceForm}">Insurance Form</a></li>
					<li><a th:href="@{ESLNotifications}">Notifications Dashboard</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">

		<h2>Insurance Form</h2>
		<p> <b> Please fill out the following insurance form </b></p>

		<form id="insuranceForm" class="form-horizontal" action="InsuranceForm" method="post" role="form">
			<div class="form-group">
				<div class="form-group">
					<label for="insuredInitials" class="col-sm-2 control-label">Insured	initials</label>
					<div class="col-sm-10">
						<input type="text" name="insuredInitials" value="" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="firstName" class="col-sm-2 control-label">First Name</label>
					<div class="col-sm-10">
						<input type="text" name="firstName" value="John" class="form-control" required="required" />
					</div>
				</div>
				<div class="form-group">
					<label for="lastName" class="col-sm-2 control-label">Last Name</label>
					<div class="col-sm-10">
						<input type="text" name="lastName" value="Smith" class="form-control" required="required" />
					</div>
				</div>
				<div class="form-group">
					<label for="address" class="col-sm-2 control-label">Address</label>
					<div class="col-sm-10">
						<input type="text" name="address" value="" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="city" class="col-sm-2 control-label">City</label>
					<div class="col-sm-10">
						<input type="text" name="city" value="" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="province" class="col-sm-2 control-label">Province</label>
					<div class="col-sm-10">
						<input type="text" name="province" value="" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="emailAddress" class="col-sm-2 control-label">Email Address</label>
					<div class="col-sm-10">
						<input type="email" name="emailAddress"	value="john.smith@mailinator.com" class="form-control" required="required" />
					</div>
				</div>
				<div class="form-group">
					<label for="language" class="col-sm-2 control-label">Language</label>
					<div class="col-sm-10">
						<select name="language" class="form-control">
							<option value="english">English</option>
							<option value="french">French</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="vehicleModel" class="col-sm-2 control-label">Vehicle Model</label>
					<div class="col-sm-10">
						<input type="text" name="vehicleModel" value=""	class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="vehicleMake" class="col-sm-2 control-label">Vehicle Make</label>
					<div class="col-sm-10">
						<input type="text" name="vehicleMake" value="" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="vehicleModelYear" class="col-sm-2 control-label">Vehicle Model Year</label>
					<div class="col-sm-10">
						<input type="text" name="vehicleModelYear" value="" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="vehicleColor" class="col-sm-2 control-label">Vehicle Color</label>
					<div class="col-sm-10">
						<input type="text" name="vehicleColor" value="" class="form-control" /><br />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Submit Form</button>
					</div>
				</div>
			</div>
		</form>
		<hr />
		<footer>
			<p>&copy; 2015 -JAVA e-SL Application</p>
		</footer>
	</div>
</body>
</html>