<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet"	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.1/css/bootstrapValidator.min.css"/>
<link rel="stylesheet" href="css/eSLSampleWebApp.css"/>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.1/js/bootstrapValidator.min.js"></script> <!-- http://bootstrapvalidator.com/ -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
    $('#adminForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
        	eslApiKey: {
                message: 'The esl Api Key is not valid',
                validators: {
                    notEmpty: {
                        message: 'The esl Api Key is required and cannot be empty'
                    },
                    base64: {
                        message: 'The esl Api Key must be valid base64 characters'
                    }
                }
            },
            eslApiUrl: {
                message: 'The esl Api URL is not valid',
                validators: {
                    notEmpty: {
                        message: 'The esl Api URL is required and cannot be empty'
                    },
                    uri: {
                    	allowLocal: true,
                        message: 'The eSL Api URL must be a valid URL pointing to e-SignLive'
                    }
                }
            },
            autoSubmitUrl: {
                validators: {
                    notEmpty: {
                        message: 'The autoSubmitUrl is required and cannot be empty'
                    },
                    uri: {
                    	allowLocal: true,
                        message: 'The autoSubmitUrl must be a valid URL pointing to the AutoSubmit page of the application'
                    }
                }
            }
        }
    });
    
    (function(){
    	if (Modernizr.localstorage) {
    		$("#adminForm input[name='eslApiKey']").val(localStorage.getItem("eslApiKey"));
    	
    		var eslApiUrl = localStorage.getItem("eslApiUrl");
    		if(!eslApiUrl || eslApiUrl === ''){
    			$("#adminForm input[name='eslApiUrl']").val("https://sandbox.e-signlive.com/api");
    		}
    		else {
    			$("#adminForm input[name='eslApiUrl']").val(eslApiUrl);
    		}
    	
    		$("#adminForm input[name='autoSubmitUrl']").val(localStorage.getItem("autoSubmitUrl"));
    	}
    })();
    
    $('#adminForm').submit(function(event){
    	if (Modernizr.localstorage) {
			var storageEslApiKey = localStorage.getItem("eslApiKey");
			var storageEslApiUrl = localStorage.getItem("eslApiUrl");
			var storageAutoSubmitUrl = localStorage.getItem("autoSubmitUrl");
			
			var eslApiKey = $("#adminForm input[name='eslApiKey']").val();
			var eslApiUrl = $("#adminForm input[name='eslApiUrl']").val();
			var autoSubmitUrl = $("#adminForm input[name='autoSubmitUrl']").val();
			
			if(eslApiKey && eslApiKey != storageEslApiKey) {
				localStorage.setItem("eslApiKey", eslApiKey);
			}
			
			if(eslApiUrl && eslApiUrl != storageEslApiUrl) {
				localStorage.setItem("eslApiUrl", eslApiUrl);
			}
			
			if(autoSubmitUrl && autoSubmitUrl != storageAutoSubmitUrl) {
				localStorage.setItem("autoSubmitUrl", autoSubmitUrl);
			}
		} else {
		    // Sorry! No Web Storage support..
		}
	});
});
//]]>
</script>

<title>e-SignLive Sample Insurance Company</title>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{index}">JAVA e-SL Application</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{InsuranceForm}">Insurance Form</a></li>
					<li><a th:href="@{ESLNotifications}">Notifications Dashboard</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		<h2>Properties</h2>
		<p>
			<b>Please fill out the following</b>
		</p>

		<form id="adminForm" class="form-horizontal" role="form" method="post">
			<div class="form-group">
				<div class="form-group">
					<label for="API_KEY" class="col-sm-2 control-label">API_KEY</label>
					<div class="col-sm-10">
						<input type="text" class="input-lg form-control search-query" id="eslApiKey" name="eslApiKey" value="" required="required" />
					</div>
				</div>
				<div class="form-group">
					<label for="BASE_URL" class="col-sm-2 control-label">BASE_URL</label>
					<div class="col-sm-10">
						<input type="text" class="input-lg form-control search-query" id="eslApiUrl" name="eslApiUrl" value="" required="required" />
					</div>
				</div>
				<div class="form-group">
					<label for="AUTO_SUBMIT_URL" class="col-sm-2 control-label">AUTO_SUBMIT_URL</label>
					<div class="col-sm-10">
						<input type="text" class="input-lg form-control search-query" id="autoSubmitUrl" name="autoSubmitUrl" value="" required="required" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Go To	Insurance Form</button>
					</div>
				</div>
			</div>
		</form>
		<hr />
		<footer>
			<p>&copy; 2015 -JAVA e-SL Application</p>
		</footer>
	</div>
</body>
</html>